<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head>
{% block page_title %}
{{ sonata_seo_title() }}
{% endblock %}
{% block page_metadata %}{{ sonata_seo_metadatas() }}{% endblock %}
{% block stylesheets %}
{% stylesheets filter='cssrewrite,?yui_css' output="css/site.css"
'bundles/appfrontend/bootstrap/css/bootstrap.css'
'bundles/appfrontend/datepicker/css/datepicker.css'
'bundles/appfrontend/bootstrap-modal/css/bootstrap-modal.css'
'bundles/appfrontend/select2/select2.css'
'bundles/appfrontend/css/main.css'
%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
{% javascripts filter='?closure' output="js/site.js"
'@AppGeneralBundle/Resources/public/js/jquery.min.js'
'@AppGeneralBundle/Resources/public/js/jquery.form.js'
'@AppFrontendBundle/Resources/public/js/lib/handlebars.js'
'@AppFrontendBundle/Resources/public/select2/select2.min.js'
'@AppFrontendBundle/Resources/public/bootstrap/js/bootstrap.min.js'
'@AppFrontendBundle/Resources/public/js/lib/jquery.meio.mask.min.js'
'@AppFrontendBundle/Resources/public/js/lib/moment.min.js'
'@AppFrontendBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'
'@AppFrontendBundle/Resources/public/datepicker/js/locales/bootstrap-datepicker.pl.js'
'@AppFrontendBundle/Resources/public/bootstrap-modal/js/bootstrap-modalmanager.js'
'@AppFrontendBundle/Resources/public/bootstrap-modal/js/bootstrap-modal.js'
'@FOSJsRoutingBundle/Resources/public/js/router.js'
'js/fos_js_routes.js'
'@AppFrontendBundle/Resources/public/js/global/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% if app.environment == 'dev' %}
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endif %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<script type="text/javascript">
var locale = '{{ app.request.locale }}'
</script>
</head>
<body>
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path('homepage') }}" name="top">Timetracking</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('timesheet_week') }}"><i class="icon-time"></i> Timesheet</a></li>
                    </ul>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> {{ app.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('profile') }}"><i class="icon-wrench"></i> {% trans from 'timesheet' %}Profile{% endtrans %}</a></li>
                            <li class="divider"></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="icon-lock"></i> {% trans from 'timesheet' %}Admin area{% endtrans %}</a></li>
                            <li class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-share"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </div>
                    <p class="navbar-text pull-right">{% trans from 'timesheet' %}Logged us{% endtrans %}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row-fluid">
            {% block notice %}
                {% for notice_level in ['success','error','info', 'warning'] %}
                    {% set session_var = 'sonata_flash_' ~ notice_level %}
                    {% for flash in app.session.flashbag.get(session_var) %}
                        <div class="alert {{ 'alert-' ~ notice_level }}">
                            {{ flash|trans([], 'timetracking') }}
                            <button data-dismiss="alert" class="close" type="button">×</button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            {% block fos_user_content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
