<!DOCTYPE html>
<html{{ sonata_seo_html_attributes() }}>
<head>
{% block page_title %}
{{ sonata_seo_title() }}
{% endblock %}
{% block page_metadata %}{{ sonata_seo_metadatas() }}{% endblock %}
{% block stylesheets %}
{% stylesheets filter='cssrewrite,?yui_css' output="css/site.css"
'bundles/appfrontend/bootstrap/css/bootstrap.css'
'bundles/appfrontend/css/main.css'
'bundles/appfrontend/datepicker/css/datepicker.css'
%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
{% javascripts filter='?closure' output="js/site.js"
'@AppGeneralBundle/Resources/public/js/jquery.min.js'
'@AppFrontendBundle/Resources/public/bootstrap/js/bootstrap.min.js'
'@AppFrontendBundle/Resources/public/js/jquery.meio.mask.min.js'
'@AppFrontendBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path('homepage') }}" name="top">Timetracking</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('timesheet') }}"><i class="icon-time"></i> Timesheet</a></li>
                    </ul>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> {{ app.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-wrench"></i> Profile</a></li>
                            <li class="divider"></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="icon-lock"></i> {% trans from 'timesheet' %}Admin area{% endtrans %}</a></li>
                            <li class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-share"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </div>
                    <p class="navbar-text pull-right">{% trans from 'timesheet' %}Logged us{% endtrans %}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row-fluid">
        {% block fos_user_content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>